* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  overflow-x: hidden;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

section {
  padding: 20px 0;
}

.flex > div {
  width: 50px;
  height: 50px;
  background-color: gray;
  color: white;
}

.flex {
  display: flex;
  border: 1px solid blue;
  gap: 8px;
  padding: 8px;
}

.flex_row {
  flex-direction: row;
}

.flex_column {
  flex-direction: column;
}

.flex_row_reverse {
  flex-direction: row-reverse;
}

.flex_column_reverse {
  flex-direction: column-reverse;
}

.hash_navigation {
  height: 40px;
  background-color: darkcyan;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hash_navigation > a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
}

.page_navigation {
  width: 100vw;
  height: 50px;
  background-color: black;
  color: white;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
}

.brand {
  font-weight: lighter;
  user-select: none;
}

.page_navigation > menu > a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: lighter;
}

.flex_wrap {
  /* width dari div tetap dipertahankan dan area akan bertambah*/
  flex-wrap: wrap;
}

.flex_wrap > div {
  width: 100px;
  height: 100px;
}

.flex_no_wrap {
  flex-wrap: nowrap; /* default */
}

.flex_no_wrap > div {
  width: 100px;
  height: 100px;
}

.justify_center {
  justify-content: center;
}

.justify_Start {
  justify-content: start;
}

.justify_end {
  justify-content: end;
}

/* ada jarak before after */
.justify_around {
  justify-content: space-around;
  gap: 20px;
}

/* tidak ada jarak left start dan end after */
.justify_between {
  justify-content: space-between;
}

/* jarak sama */
.justify_evenly {
  justify-content: space-evenly;
}

/* vertikal */
.align_center {
  height: 300px;
  align-items: center;
}

.align_start {
  height: 300px;
  align-items: flex-start;
}

.align_end {
  height: 300px;
  align-items: flex-end;
}

.align_stretch {
  height: 300px;
  align-items: stretch;
}

/* initial tidak diatur sizenya karena mengikuti panjang elementnya */
.initial_height div {
  height: initial;
  background-color: blue;
}

.align_baseline {
  height: 300px;
  align-items: baseline;
}
